<h1>Key</h1>
<p>
Enter only one key. Use capital letters for major keys, small letters 
for minor keys, '#' for sharps, and 'b' for flats.<br>
For example, 
'F#' = f-sharp major and  'ab' = a-flat minor. 
</p>