<h1>Category</h1>
<p>
You can choose more than one category.<br>
Click on one and then click on another while holding down either the 'Shift'-key 
(for two or more composers listed consecutively), or the 'Ctrl'- (Mac users: 'Cmd'-) 
key (for non-consecutive category).
</p>