<h1>New compositions</h1>
<% form_tag :action => 'create' do %>
    <%= render :partial => 'content' %>
    <%= submit_tag 'Create', :name => 'create', :class => 'button'%>
    <%= submit_tag 'Cancel', :name => 'cancel', :class => 'button'%>
<% end %>
