<%= error_messages_for 'instrumentation' %>

<!--[form:instrumentation]-->
<p><label for="instrumentation_id">Id</label><br/>
<%= text_field 'instrumentation', 'id'  %></p>

<p><label for="instrumentation_label">Label</label><br/>
<%= text_field 'instrumentation', 'label'  %></p>
<!--[eoform:instrumentation]-->

