<% if object.errors.any? %>
  <div class='errors'>
    <h2>Errors occured:</h2>
    <dl>
      <% object.errors.messages.each do |attr, msg| %>
        <dt><%= t("activerecord.attributes.article.#{attr}") %></dt>
        <% msg.each do |m| %>
          <dd><%= m %></dd>
        <% end %>
      <% end %>
    </dl>
  </div>
<% end %>
